table > thead > tr {
    background-color: var(--color-two); 
}

table > thead > tr > th:nth-child(2) {
 background-color: var(--color-two); 
}

table > tbody > tr:nth-child(odd) {
 background-color: var(--color-three);
}

table > tbody > tr:nth-child(even) {
 background-color: var(--color-four);
}

div.about_me_text {
    display: flex;
    gap: 20px;
}

div.about_me_text p:first-of-type {
    margin-top: initial ;
}
