table {
    margin-top: 10px;
}

table>thead {
    color: var(--color-one);
    font-size: 18px;
}

table>thead>tr>th,
table>tbody>tr>td,
table>tfoot>tr>td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

table>thead>tr>th:nth-child(1) {
    background-color: #a96dbf;
}

table>thead>tr>th:nth-child(2) {
    background-color: #a96dbf;
}

table>thead>tr>th:nth-child(3) {
    background-color: #ec5d71;
}

table>thead>tr>th:nth-child(4) {
    background-color: #f78954;
}

table>thead>tr>th:nth-child(5) {
    background-color: #ffe200;
}

table>thead>tr>th:nth-child(6) {
    background-color: #add579;
}

table>thead>tr>th:nth-child(7) {
    background-color: #3cb1e6;
}

table>tbody {
    color: var(--color-one);
    font-size: 14px;
}

table>tbody>tr>td:nth-child(1) {
    background-color: #c6acd3;
}

table>tbody>tr>td.monday {
    background-color: #fac2c1;
}

table>tbody>tr>td.tuesday {
    background-color: #fbb790;
}

table>tbody>tr>td.wednesday {
    background-color: #ffeca8;
}

table>tbody>tr>td.thursday {
    background-color: #c4df9c;
}

table>tbody>tr>td.friday {
    background-color: #9cdcf7;
}

table>tbody>tr>td.nine_am {
    background-color: #c6acd3;
}

table>tbody>tr>td.lunch {
    background-color: #e2dde4;
    color: var(--color-one)
}

table>tfoot>tr>td {
    background-color: #e2dde4;
    padding: 10px;
    color: var(--color-one);
}

table>tfoot>tr>td>p>small {
    letter-spacing: initial;
}