  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');
  @import url('./variables.css');

  body {
      background: var(--color-one);
      color: var(--color-white);
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      margin: 0px;
  }

  header {
      padding-top: 40px;
  }

  h1 {
      font-size: 42px;
      color: var(--color-four);
      text-align: center;
      font-weight: 600;
      padding-bottom: 20px;
  }

  h2 {
      font-size: 30px;
      color: var(--color-three);
      text-align: left;
      font-weight: 600;
      border-left-style: solid;
      border-left-width: 4px;
      border-left-color: var(--color-four);
      padding-left: 8px;
  }

  nav {
      text-align: center;
      padding-bottom: 20px;
  }

  nav a {
      text-decoration: none;
      color: var(--color-white);
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      background-color: var(--color-two);
      border-radius: 20px;
      padding: 6px 13px;
      margin-left: 4px;
      margin-right: 4px;
      font-weight: 600;
      line-height: 40px;
  }

  nav a:hover {
      background-color: var(--color-three);
  }

  nav a.active {
      background-color: var(--color-four);
      color: var(--color-one);
  }

  nav span {
      display: none;
  }

  ul li a {
      text-decoration: none;
      color: var(--color-white);
      font-size: 14px;
      letter-spacing: 1px;
  }

  main {
      width: 1024px;
      margin: 0px auto;
  }

  @media (max-width: 420px) {
      main {
          width: 90%;
      }
  }

  footer {
      text-align: center;
      font-size: 12px;
  }

  div.introduction-phrases-and-image {
      display: flex;
      gap: 20px;
  }

  div.introduction-phrases-and-image p:first-of-type {
      margin-top: initial;
  }

  @media (max-width: 420px) {
      div.introduction-phrases-and-image {
          display: block;

      }

      div.introduction-phrases-and-image img {
          width: 100%;
      }
    }
    
      .mb_20 {
          margin-bottom: 20px;

      }

      div img {
          margin: 0px auto;
          display: block;
          border-style: dotted;
          border-width: 2px;
          border-color: var(--color-four);
      }

      hr {
          height: 1px;
          background: var(--color-three);
          border: none;
      }

      table {
          border: 1px;
      }

      table thead tr th {
          padding-top: 10px;
          padding-bottom: 10px;

      }

      table tbody tr td {
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
      }

      p {
          line-height: 24px;
          letter-spacing: 1px;
      }

      /*social media links*/
      ul.social-media {
          display: flex;
          gap: 8px;
          list-style: none;
          margin: 0px;
          padding: 0px;
          margin-top: 5px;
      }

      ul.social-media>li>a>svg,
      ul.social-media>li>a>svg>path {
          width: 20px;
          height: 20px;
          fill: white;
      }


      ul.social-media>li>a {
          display: flex;
          gap: 8px;
          align-items: center;
          padding-left: 8px;
          padding-right: 8px;
      }

      ul li a {
          border-radius: 4px;
          display: inline-block;
          padding: 4px;
          font-weight: 600;
      }

      ul li a.facebook {
          background-color: #4267b2;
      }

      ul li a.facebook:hover {
          background-color: #6f82a9;
      }

      ul li a.github {
          background-color: #9b59b6;
          gap: 3px;
      }

      ul li a.github:hover {
          background-color: #b38fc2;
      }

      ul li a.linkedin {
          background-color: #0277b5;
      }

      ul li a.linkedin:hover {
          background-color: #50829c;
      }

      ul li a.twitter {
          background-color: #1f9cea;
      }

      ul li a.twitter:hover {
          background-color: #69bbee;
      }