article {

    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

article h1 {
    text-align: left;
    font-size: 25px;
    color: var(--color-one);
    font-weight: 600;
    padding-bottom: 0px;
    margin: 0px;
}

article p {
    color: var(--color-one);
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0px;
}

div {
    color: var(--color-three);
    padding-bottom: 10px;
    
}

article img {
    display: inline;
    width: 100%;
}

article a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 14px;
    letter-spacing: 1px;
    background-color: var(--color-two);
    border-radius: 20px;
    padding: 6px 13px;
}

hr {
    margin-top: 20px;
}

footer {
    margin-top: 80px;
}

div.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}